amqp
asgiref
billiard
blake3
celery[redis]
click
click-didyoumean
click-plugins
click-repl
colorama
datasketch
Django
django-cors-headers
django-filter
djangorestframework
dj-database-url
gunicorn
kombu
numpy
packaging
prompt_toolkit
psycopg2-binary
python-dateutil
python-dotenv
redis
scipy
six
sqlparse
tzdata
vine
wcwidth






