Django>=5.0,<6
gunicorn>=21.2
psycopg2-binary>=2.9
djangorestframework>=3.15
django-filter>=24.2
django-cors-headers>=4.4
whitenoise>=6.6
python-dotenv>=1.0
dj-database-url>=2.2

blake3>=0.4
datasketch>=1.6
celery[redis]>=5.4
redis>=5.0
